<%- include("partials/form/header") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container">

        </div>
        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="heading mb-4">
                    <h3>Forgot Password</h3>
                </div>
                <form action="/forgot" method="post">
                    <div class="form-input">
                        <span style="position: absolute;"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <input type="email" name="email" placeholder="Enter Your Email" autofocus required>
                    </div>
                    <div class="mb-3">
                        <button class="btn" type="submit">Reset Password</button>
                    </div>
                    <div><a href="/login">Go Back..</a></div>
            </div>
            </form>
        </div>
    </div>
</div>

</div>
<%- include("partials/footer") %>