<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d25a039e29.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css" type="text/css">
    <title>The Swirll Quill</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span><i class="fas fa-blog"> †hê §wïrll Qµïll</i> </span>
        </a>
    </nav>
    <div class="about-section">
        <div class="inner-container">
            <div class="about">
                <h1 id="heading">About Us</h1>
                <p class="text">Hello everyone, welcome to The Swirll Quill. With life becoming digital and hectic ,
                    this
                    platform provides you a place to pen down your thoughts. This user friendly site is a place to
                    discuss
                    hot potatoes, to share your POVs and help to split open your inner self.</p>
                <p>
                    For any query :-
                    Contact -<a href="mailto:aniketproject99@gmail.com">aniketproject99@gmail.com</a>
                </p>
                <a class="btn" href="/">Go Back </a>
                <span>
                    <p><i class="fas fa-trademark"> aniket</i></p>
                </span>
            </div>
        </div>
    </div>